@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@keyframes check-anim {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.6rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 1;
}
.header__title {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.header__previous {
  position: absolute;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.footer {
  padding: 1rem 1.25rem;
  color: white;
  background: #353535;
}
@media (min-width: 1440px) {
  .footer {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 4rem;
  }
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  padding: 1.2rem 0;
}
.footer__block {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}
.footer__block i {
  margin-right: 0.5rem;
  width: 20px;
}
.footer__block--order {
  order: 2;
}
@media (min-width: 1440px) {
  .footer__block {
    flex-direction: row;
    gap: 1.2rem;
  }
}
.footer__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.2rem;
}

.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
  position: relative;
  z-index: 0;
}

.menu {
  border-radius: 2rem 2rem 0 0;
  background-color: #f3f3f3;
  padding: 2rem 1rem;
  margin-top: -3rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 1440px) {
  .menu {
    width: 1055px;
    margin: -3rem auto 0;
  }
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.menu__header i {
  position: absolute;
  font-size: 2rem;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu__header .fa-solid {
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.menu__header .fa-solid:hover {
  opacity: 1;
}
.menu__title {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.menu-item {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  margin-bottom: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item__container {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.menu-item__container > div {
  overflow: hidden;
}
.menu-item__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__subtitle {
  font-weight: 300;
  font-size: 1rem;
  padding: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__price {
  margin-left: auto;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}
.menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  font-size: 2rem;
  color: white;
  background: #99e2d0;
  width: 4.2rem;
  height: 4.2rem;
  margin-right: -4.2rem;
  transition: margin-right 0.2s ease-in-out;
}
.menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menu-item:hover i {
  animation: check-anim 0.4s;
}

.submenu__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.submenu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.btn--primary {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 0.2s ease;
}
.btn--primary:hover {
  transform: scale(1.05);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3764705882);
}

.tuto-btn {
  display: flex;
  padding: 1.6rem 2rem;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  min-width: 335px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2509803922);
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 1rem;
  position: relative;
  z-index: 0;
}
.location__content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.hero {
  padding: 2.4rem 1.625rem 3.5rem 2.125rem;
  text-align: center;
  background-color: #f3f3f3;
}
.hero__title {
  margin-bottom: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.hero__subtitle {
  margin-bottom: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}

.tuto {
  counter-reset: steps;
  margin: 3rem 0;
  background-color: #fff;
  padding: 0 1.25rem;
}
@media (min-width: 1440px) {
  .tuto {
    padding: 0 11.25rem;
  }
}
.tuto__title {
  margin-bottom: 1.5rem;
}
.tuto__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1440px) {
  .tuto__content {
    flex-direction: row;
    gap: 3rem;
  }
}
.tuto .tuto-btn {
  position: relative;
}
.tuto .tuto-btn::before {
  counter-increment: steps;
  content: "" counter(steps);
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  bottom: 1.5rem;
  left: -0.75rem;
}
.tuto i {
  margin-right: 1.2rem;
  color: #7E7E7E;
}

.restaurant {
  background-color: #f3f3f3;
  padding: 0 1.25rem;
}
@media (min-width: 1440px) {
  .restaurant {
    padding: 0 11.25rem;
  }
}
.restaurant {
  padding-bottom: 3rem;
}
.restaurant__title {
  padding: 1.75rem 0;
}
.restaurant__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.1rem;
}
@media (min-width: 1440px) {
  .restaurant__grid {
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
  }
}
.restaurant .card {
  border-radius: 1rem;
  position: relative;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
}
.restaurant .card__picture {
  width: 100%;
  height: 192px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurant .card__title {
  padding-bottom: 0.3rem;
}
.restaurant .card__footer {
  padding: 1rem 1.2rem;
  position: relative;
}
.restaurant .card__footer i {
  position: absolute;
  font-size: 2rem;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurant .card__footer .fa-solid {
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.restaurant .card__footer .fa-solid:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
