@mixin titleHeader {
    font-family: $font-secondary;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.74px;
    text-align: center;

}

@mixin title($size: 1.5rem, $line-height: 1.2) {
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
}

@mixin sectionTitle {
    @include title;
    text-align: left;
}

@mixin btnText {
    font-family: $font-primary;
    color: #353535;

    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

@mixin paragraph {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
}