.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-primary;
    padding: 0.6rem;
    box-shadow: 0px 2px 4px 0px #00000026;
    position: relative;
    z-index: 1;
    &__title {
        @include header-title;
    }

    &__previous {
        position: absolute;
        left: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }
}