
.banner img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
    position: relative;
    z-index: 0;
}

.menu {
    border-radius: 2rem 2rem 0 0;
    background-color: $color-bg-secondary;
    padding: 2rem 1rem;
    margin-top: -3rem; 
    position: relative;
    z-index: 1;

    @media (min-width: 1440px) {
        width: 1055px;
        margin: -3rem auto 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 1rem;
        margin-bottom: 2rem;
        
        @include heart-hover;
    }

    &__title {
        @include header-title;
    }
}

.submenu {

    &__title {
        @include paragraph-text;
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        position: relative;
        
        &::after {
            content: "";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiaire;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.submenu__item {
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    background-color: $color-bg-primary;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;

    &--title {
        flex: 1;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: bold;
    }

    &--subtitle {
        font-weight: 300;
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    &--price {
        @include section-title;
        font-size: 1rem;
    }
}