.new {
    position: relative;

    &::before {
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: $color-tertiaire;
        color: darken($color-tertiaire, 50%);
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem;
    }
}