.new {
    // font-family: $font-primary;
    // font-size: 0.875rem;
    // font-weight: 500;
    // text-align: center;
    // padding: 0.3rem 0.5rem;
    position: relative;

    &::before {
        // background-color: $color-tertiaire;
        // color: #1b6150;
        // box-shadow: 0px 2px 4px 0px #00000026;
        // position: absolute;
        // top: 1rem;
        // right: 1rem;
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: $color-tertiaire;
        color: darken($color-tertiaire, 50%);
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem;
    }
}