.btn--primary {
    @include btn-text;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 3rem;
    @include base-gradient;
    @include box-shadow;
    transition: all 0.2s ease;

    &:hover {
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        @include box-shadow--hover;
    }
}

.tuto-btn {
    display: flex;
    padding: 1.6rem 2rem;
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    min-width: 335px;
    @include box-shadow;
}